html {
  background-color: #779FFD;
}
body {
  background-color: #F6F87C;
  color: black;
  font-family: "Arial";
  margin: 100px;
  outline: 10px dashed #EA3434;
}
h1 {
  background-color: #F7DB50;
  color: #000;
  font-family: "Bookman Old Style";
}
p {
  margin: 5px;
}
a {
  color: #174181;
}
canvas {
  background-color: white;
}
